<table id="mv_table">
  <tbody>
    <% contents.each do |rank| %>
    <% if running_ranking == rank.ranking then %>
    <% running_flg = 'running' %>
    <% else%>
    <% running_flg = 'no_running' %>
    <% end%>
    <tr>
      <td>
        <% if running_ranking == rank.ranking then %>
        <label id='prev_button_list', class='list_button'>↑</label>
        <label id='play_button_list', class='list_button'>▶</label>
        <label id='next_button_list', class='list_button'>↓</label>
        <% end %>
      </td>
      <td id="target_date" data-target-date="<%= rank.target_date %>" >
      </td>
      <td id="genre_name" data-genre-name="<%= rank.genre_name %>" >
      </td>
      <td id="<%= running_flg %>">
        <p><%= rank.ranking %></p>
        <p><%= rank.artist %></p>
        <p><%= rank.title %></p>
      </td>
      <td>
        <% if rank.youtube_url == nil then %>
        <p id="no_video_alert">VideoID未設定</p>
        <% rank.youtube_url = 'WMR0NjbsMf4' %>
        <% end%>
        <% if running_ranking == rank.ranking then %>
        <div id="player1" data-video-id="<%= rank.youtube_url %>" data-now-ranking="<%= running_ranking %>">
        </div>
        <% else %>
        <iframe width="320" height="180" src=<%= "http://i.ytimg.com/vi/" + rank.youtube_url + "/mqdefault.jpg" %> frameborder="0" allowfullscreen></iframe>
        <% end %>
      </td>
      <td>
        <p id="edit_p"><%= link_to "[Edit]", edit_mst_music_path(rank.mst_music_id, {:target_date => rank.target_date, :genre => rank.genre_name, :now_ranking => rank.ranking}), :id => "edit_link" %></p>
      </td>
    </tr>
  </div>
  <% end %>
</tbody>
</table>
