<%- model_view_ranking = ViewRanking -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_view_ranking.human_attribute_name(:DATE) %></th>
      <th><%= model_view_ranking.human_attribute_name(:GENRE) %></th>
      <th><%= model_view_ranking.human_attribute_name(:RANKING) %></th>
      <th><%= model_view_ranking.human_attribute_name(:ARTIST) %></th>
      <th><%= model_view_ranking.human_attribute_name(:TITLE) %></th>
      <th><%= model_view_ranking.human_attribute_name(:MV) %></th>
    </tr>
  </thead>
  <tbody>
    <% contents.each do |rank| %>
      <tr>
        <td id="target_date" data-target-date="<%= rank.target_date %>" >
          <%= rank.target_date %></td>
        <td id="genre_name" data-genre-name="<%= rank.genre_name %>" >
          <%= rank.genre_name %></td>
        <td><%= rank.ranking %></td>
        <td><%= rank.artist %></td>
        <td><%= rank.title %></td>
        <td>
          <% if running_ranking == rank.ranking then %> 
          <div id="player1" data-video-id="<%= rank.youtube_url %>" data-now-ranking="<%= running_ranking %>">></div>
          <% else %>
          <iframe width="320" height="180" src=<%= "http://i.ytimg.com/vi/" + rank.youtube_url + "/mqdefault.jpg" %> frameborder="0" allowfullscreen></iframe>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

