<div class="page-header">
  <h1>Hits Stream</h1>

<ul id="result"></ul>

<div id='date_label'>
Aggregate Date
</div>
<div id='genre_label'>
Genre
</div>
<%= form_tag('/ranks/result', :remote => true, :method => 'post'
) do %>
<%= select_tag(:this_date, options_from_collection_for_select(@mst_dates.order("id DESC"), :this_date, :this_date), :id => 'select_tag'
)%>
<%= select_tag(:name, options_from_collection_for_select(@mst_genres.order("id"), :name, :name), :id => 'select_tag'
)%>
<%= hidden_field_tag(:now_ranking, @running_ranking, :id => 'now_ranking') %>
<%= submit_tag("Select", :id => 'submit_tag') %>
<% end %>
</div>

<div id='mv_list'>
<%= render partial: 'list', locals: {contents: @view_rankings, running_ranking: @running_ranking} %>
</div>

<div class="page-footer">
	<label id='play_button'>［ PLAY ▶ ］</label>
	<label id='pause_button'>［ PAUSE ■ ］</label>
	<label id='prev_button'>［ ← PREV ］</label>
	<label id='next_button'>［ NEXT → ］</label>
</div>
