<div class="page_header">
	<div id="title">
		<%= link_to "Hits Stream",root_path %>
	</div>
	<div id="description" class="tooltip">
		<p>
			Hits Streamとは？
		</p>
		<span>
			iTunesの楽曲ランキングに応じたYouTube動画を<br>自動再生する無料BGMサイトです
		</span>
	</div>
	<div id="date_label">
		Aggregate Date
	</div>
	<div id="genre_label">
		Genre
	</div>
	<div id="select_form">
		<%= form_tag("/ranks/result", :remote => true, :method => "post" ) do %>
		<%= select_tag(:target_date, options_from_collection_for_select(@list_dates.order("id DESC"), :id, :this_date, @target_date), :id => "select_tag" )%>
		<%= select_tag(:genre_name, options_from_collection_for_select(@list_genres.order("id"), :id, :name, @genre_name), :id => "select_tag")%>
		<%= hidden_field_tag(:running_ranking, @running_ranking, :id => "running_ranking") %>
		<%= submit_tag("Select", :id => "submit_tag") %>
		<% end %>
	</div>
</div>

<div id="middle">
	<%= render partial: "list", locals: {contents: @view_rankings, running_ranking: @running_ranking} %>
</div>

<div class="page_footer">
	<span id="prev_button" class="footer_button">← PREV</span>
	<span id="play_button" class="footer_button">PLAY ▶</span>
	<span id="next_button" class="footer_button">NEXT →</span>
</div>
